<!-- <div class="photo" id="navbar">
  <h1>Street</h1>
  <h1>Snaps</h1>

  <div class="navLinks">
    <p>Home</p>
    <p>About</p>
    <p>Contact</p>
  </div>

  <div class="icons">
    <i class="fa fa-instagram fa-5x"></i>
    <i class="fa fa-facebook fa-5x"></i>
    <i class="fa fa-twitter fa-5x"></i>
  </div>
</div> -->
